@media (max-width: 1440px) {
  .name {
    font-size: 155px;
  }
  .profile-image{
    opacity: 0;
    display: flex;
    padding-top: 10%;
    grid-area: profile;
  }
  /* .navigation ul {
    display: none;
  }
  .menu-btn {
    display: inline;
  } */
}

@media (max-width: 1024px) {
  .name {
    font-size: 139px;
  }
  .navigation-bar ul{
    display: none;
  }
  .main-scroll-arrow {
    display: inline;
  }
}

@media (max-width: 768px) {
  .name {
    font-size: 18vw;
  }
  .home-intro {
    display: none;
    font-size: 4vw;
  }
  .home-comments {
    display: none;
  }
  .cho {
    color: #E53A40;
  }
  .jun {
    color: #EFDC05;
  }
  .hyun {
    color: #30A9DE;
  }
}