/* 
  ==========================================
  width < 1440px
  ==========================================
*/
@media (max-width: 1440px) {
  html {
    font-size: 8px;
  }
  .name {
    font-size: 155px;
  }
  .profile-image{
    opacity: 0;
    display: flex;
    padding-top: 10%;
    grid-area: profile;
  }

  .profile-image img {
    height: 70vh;
    width: 50vh;
    border-radius: 10%;
  }
  
  .home-comments {
    top: 55%;
  }

  #projects {
    grid-template-rows: 1fr minmax(300px, 480px) 1fr;

  }
}

/* 
  ==========================================
  width < 998px
  ==========================================
*/

@media (max-width: 998px) {
  .name {
    font-size: 139px;
  }
  .home-intro {
    display: none;
  }
  .home-comments {
    display: none;
  }

  .cho {
    color: #F0F2F2;
  }
  
  .jun {
    color: #D0D4D7;
  }

  .hyun {
    color: #AAABAD;
  }

  .home-comments {
    color: white;
  }

  .cho:hover {
    color: #F0F2F2;
  }
  
  .jun:hover {
    color: #D0D4D7;
  }

  .hyun:hover {
    color: #AAABAD;
  }

  .navigation-bar ul{
    display: none;
  }
  .main-scroll-arrow {
    display: flex;
  }
  #about {
    grid-template-columns: 1fr 320px 1fr;
    grid-template-rows: minmax(465px, 600px) minmax(55px, 65px) minmax(185px, 200px) minmax(55px, 65px) minmax(185px, 200px);
    grid-template-areas: 
    ". profile ."
    ". intro1 ."
    ". list1 ."
    ". intro2 ."
    ". list2 ."
    ;
    height: 180vh;
    max-height: 1040px;
    width: 100%;
  }

  .profile-image {
    padding-top: 0;
    align-items: center;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .profile-image img {
    width: 307px;
    height: 461px;
  }
  
  .intro-text {
    font-size: 22px;
  }
  
  .item {
    font-size: 18px;
  }

  .intro1,
  .intro2 {
    padding-left: 20px;
  }

  .list1,
  .list2 {
    padding-left: 30px;
    opacity: 0;
  }

  #projects {
    height: 160vh;
    max-height: 925px;
    grid-template-rows: 1fr 80% 1fr;
  }

  .project {
    font-size: 26px;
  }

  .project-main ul {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    row-gap: 5px;
  }

  .thumbnail {
    flex-direction: column;
    max-height: 220px;
    max-width: 370px
  }
  
  .thumbnail-detail {
    display: flex;
    text-align: center;
  }

  .modurun-thumbnail,
  .zeroto66-thumbnail {
    font-size: 40px;
    padding: 10px 0 0 0;
    margin: 0;
  }

  .thumbnail-detail {
    padding-top: 15px;
    margin-top: 15px;
    color: white;
    font-size: 25px;
  }

  .detail {
    font-size: 16px;
  }

  .github-icon,
  .notion-icon {
    width: 27px;
    height: 27px;
  }

  #contact {
    height: 40vh;
  }

  .contact-comments {
    font-size: 3rem;
  }

  .icon {
    height: 30px;
    width: 30px;
  }
}

/* 
  ==========================================
  width < 688px
  ==========================================
*/

@media (max-width: 688px) {
  html {
    font-size: 7px;
  }
  .scroll-arrow {
    display: inline;
  }
  .name {
    font-size: 18vw;
  }

  .intro-text {
    font-size: 20px;
  }
  
  .item {
    font-size: 17.5px;
  }

  #projects {
    height: 150vh;
    max-height: 925px;
    grid-template-rows: 1fr 80% 1fr;
  }

  .project-items {
    grid-template-rows: 1fr minmax(auto 100px);
  }

  .project {
    font-size: 23px;
  }

  .project-main ul {
    height: 90%;
  }

  .thumbnail {
    width: 260px;
    height: 180px;
  }

  .modurun-thumbnail,
  .zeroto66-thumbnail {
    font-size: 35px;
  }

  .thumbnail-detail {
    padding-top: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
  }

  .project-main ul {
    padding: 25px;
  }
  
  .detail {
    font-size: 13px;
  }

  .github-icon,
  .notion-icon {
    width: 20px;
    height: 20px;
  }

  #contact {
    height: 30vh;
  }
  
}