* {
  font-family: 'Noto Sans KR', sans-serif;
}

.white-text {
  color: #FFFFFF;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nav_list li  {
  list-style: none;
  display: inline;
}

main {
  display: flex;
}

.home {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home span a {
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
  font-size: 200px;
}

.cho a:hover {
  color: red;
}

.about {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 3fr;
  height: 100vh;
}

ul {
  list-style: none;
  padding-left: 25px;
}

.intro1 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.list1 {
  grid-column: 2 / span 1;
  grid-row: 2/ span 1;
}

.intro2 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.list2 {
  grid-column: 2 / span 1;
  grid-row: 4/ span 1;
}

.intro-text {
  display: flex;
  align-items: flex-end;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.item {
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.item span {
  color: rgba(0, 0, 0, 1);
}

.jun a:hover {
  color: blue;
}

.projects {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  background-color: #000000;
  margin: 0;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.project-intro {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.project-main {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.project-main ul{
  display: flex;
  padding: 40px;
  margin: 0;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.project-finish {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.project-items {
  display: grid;
  grid-template-rows: 2fr 1fr;
  /* grid-template-columns: 1fr 1fr; */
  font-size: 60px;
  font-weight: 900;
  /* width: 400px; */
}

.thumbnail {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}

.thumbnail:hover {
  transform: scale(0.9);
}

.modurun {
  background-color: rgba(30,144,255, 0.5);
  color: #1E90FF;
}

.zeroto66 {
  background-color: rgba(144,85,162, 0.5);
  color: #9055A2;
}

.detail {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  /* padding-left: 10px; */
  margin-top: 5px;
}

.project_title {
  text-align: center;
}

.project_item:hover {
  background-color: black;
}

.hyun a:hover {
  color: green;
}

.contact li {
  list-style: none;
}
