* {
  font-family: 'Noto Sans KR', sans-serif;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nav_list {
  /* margin-left: 100px; */
}

.nav_list li  {
  list-style: none;
  display: inline;
}

#home {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#home span a {
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 200px;
  color: #FFFFFF;
}

#about-me a:hover {
  color: red;
}

#intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
}

#intro ul li {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 110px;
  margin-bottom: 20px;
}

#intro .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 50px;
  font-weight: 900;
}

#intro svg {
  position: relative;
  top: 0;
  left: 0;
  /* border: 2px solid #000000; */
}

#intro svg line {
  stroke: #000000;
  stroke-width: 2;
  -webkit-transition: -webkit-transform .5s ease-out;
	transition: transform .5s ease-out;
}

#intro svg line.top, line.bottom  {
  stroke-dasharray: 50 110;
}

#intro svg line.left, line.right  {
  stroke-dasharray: 25 70;
}

#intro .title:hover svg line.top {
  -webkit-transform: translateX(-110px);
  transform: translateX(-110px);
}

#intro .title:hover svg line.bottom {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
}

#intro .title:hover svg line.left {
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
}

#intro .title:hover svg line.right {
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
}

#intro .contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.intro_list_2{
  margin-left: 15px;
}

.intro_list_3{
  margin-left: 30px;
}

.intro_list_4{
  margin-left: 45px;
}

#project a:hover {
  color: blue;
}

#test1 header {
  height: 20vh;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#test1 header h1 {
  display: block;
  width: 120px;
  height: 50px;
  border-bottom: 2px solid #000000;
}

#test1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_item {
  display: inline-block;
  width: 400px;
  height: 250px;
  background-color: burlywood;
  border: 1px solid #000000;
  margin: 0 10px;
}

.project_thumbnail {
  width: 400px;
  height: 250px;  
}

.project_title {
  text-align: center;
}

.project_item:hover {
  background-color: black;
}

#contacts a:hover {
  color: green;
}

.contact li {
  list-style: none;
}
